@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

:root {
  --amplify-components-authenticator-max-width: auto;
  --amplify-components-authenticator-modal-background-color: bisque;
  --amplify-components-tabs-item-color: blue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #787878;
}

a {
  color: inherit;
  text-decoration: none;
}

.amplify-authenticator {
  max-width: 100%;
}

